@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

h1#ucb {
    color: #049DD9 ;
    font-size: 28px;
}

h2 {
    color: #049DD9;
 }

div#header {
    width: 70%;
    height: 82px;
    display: flex;

}

div#logo {
    width: 180px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav#menu {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

nav#menu > ul {
    display: flex;
    flex-direction: row;
}

nav#menu > ul > li {
    
   list-style: none;
   margin-right: 10px;
   margin-left: 10px;
   width: auto;
   height: 100%;
   font-size: 16px;
   font-weight: bold;

}

nav#menu > ul > li > a {
    color: #049DD9;
    text-decoration: none;
}

nav#menu > ul > li > a:hover {
    color: #0511F2;
    text-decoration: underline;
    transition: 0.8s;
}

img#logo {
    width: 55px;
    height: 55px;
    margin: 10px;
}

hr {
    width: 70%;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#section {
    width: 70%;
    height: auto;
}

h2 {
    margin: 20px;
}

div#footer {
    background-image: linear-gradient(to right, #0094D9, #1F3F99);
    width: 100vw;
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer > p {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.sociais {
    color: white;
    text-align: right;
}